extends layout

block main
      
      section#users
        .userTitleBox
          h2 ONLINE NOW
        #usersInner
          ul#userList
            //each val in [1,2,3,4,5,6,7,8,9,5,6,7,8,9,5,6,7,8,'123456789012345678901234']
              li
                = val
      section#messages
        .titleBox
          h1 CHA<span class="altColor">T_T</span>O
        #messagesInner
          #messageList.css-table
      section#inputBar
        section#alias
          #aliasInner
            h2 MY NICKNAME
            #editUserName
              input#txtUserName(maxlength='24' tabindex='4')
              input#btnSaveUserName(type='button' value='OK' tabindex='5')
            #showUserName
              span#lblUserName
              input#btnEditUserName(type='button' value='' tabindex='3')
              input#hidUserName(type='hidden')
            #lblUserNameError.errorMessage This nickname is already taken
        section#input
          #inputInner
            #inputButton
              input#btnSend(type='button' value='SEND' tabindex='2')
            #inputMessage
              textarea#txtMessage(maxlength='2000' tabindex='1')
            #lblMessageError.errorMessage Please enter a nickname